<span class="{{ icon }}" data-toggle="modal" data-target="#myModal" title="{{ iconTitle }}"></span>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
          <div style="text-align: center;">{{ message }}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" (click)="action()">Yes</button>
        </div>
      </div>
    </div>
</div>